#messages{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.message{
    border: 3px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    flex-basis: 100%;
}
.message_username{
    font-size: 20px;
    font-weight: bold;
}
.message_content{
    font-size:15px;
    text-align: center;
    border:1px solid red;
}

#prev_msg{
    margin-left: 960px;
}